:root {
    --focus-color: #3498DB
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C3E50;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    align-items: center;
    background-color: #1B2631;
    display: flex;
    height: 80px;
    width: 100%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-title {
    color: #ecf0f1;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    user-select: none;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

.search-input-wrapper {
    display: grid;
    grid-template-columns: 1fr 80px;
    border-radius: 5px;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    outline: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    background-color: #f0f0f0;
    border: 2px solid transparent;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.search-input:focus {
    border-color: var(--focus-color);
    z-index: 1;
}

.search-button {
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #3C5972;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.search-button .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    background-color: #6FA3C8;
    pointer-events: none;
}

.search-button:hover {
    background-color: #4A6A86;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

.dropdown-toggle {
    background: #fff;
    color: #212121;
    border: 2px solid #34495E;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    text-align: left;
    position: relative;
    border-radius: 5px;
}

.dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #34495E;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border: 2px solid #34495E;
    border-top: none;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 10;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #e8f0fb;
}

.dropdown.open .dropdown-toggle {
    border-color: var(--focus-color);
}

.dropdown.open .dropdown-menu {
    border-color: var(--focus-color);
    display: block;
}

.welcome-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #34495E;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.welcome-section.hidden {
    display: none;
}

.welcome-message {
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.center-message {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    margin: 5vh 0 5vh 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.btn-start-now {
    position: relative;
    background: none;
    border: none;
    color: #3498DB;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    transition: color 0.3s ease;
}

.btn-start-now::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3498DB;
    transition: all 0.2s ease;
    transform: translateX(-50%);
}

.btn-start-now:hover {
    color: #2980B9;
}

.btn-start-now:hover::after {
    width: 100%;
    background-color: #2980B9;
}

.btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-open-form {
    margin: 0 20px 20px 0;
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    bottom: 1vh;
    right: 1vh;
    color: #FFFFFF;
    cursor: pointer;
    height: 70px;
    width: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.btn-open-form:hover {
    background-color: #45a049;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.todo-form {
    display: grid;
    gap: 10px;
}

.todo-form label {
    font-weight: bold;
}

.todo-form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.todo-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    height: 100px;
    resize: vertical;
}

.todo-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.todo-form button:hover {
    background-color: #45a049;
}

.brn-close-form {
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 10px;
}

.brn-close-form:hover,
.brn-close-form:focus {
    color: black;
    text-decoration: none;
}

.todo-items {
    display: grid;
    max-width: 800px;
}

.todo-item-description,
.todo-item {
    display: grid;
    /*grid-template-columns: 1fr 2fr 2fr 3fr 2fr;*/
    grid-template-columns: minmax(50px, 1.1fr) minmax(50px, 1fr) minmax(70px, 1.5fr) minmax(100px, 4fr) minmax(30px, 1.8fr);
    gap: 5px;
    align-items: start;
    /*justify-items: center;*/
    padding: 15px;
    border: 1px solid grey;
    background-color: #2C3E50;
}

.todo-item-description {
    border-radius: 5px 5px 0 0;
    color: #F0E5DE;
    font-weight: bold;
}

.todo-item {
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.todo-description {
    white-space: pre-wrap;
    word-break: break-word;
}

.todo-item div,
.todo-item-description div {
    gap: 20px;
}

.todo-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.todo-number,
.todo-time-date,
.todo-priority,
.todo-description {
    color: #F0E5DE;
    font-weight: bold;
    font-size: 1em;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.todo-edit,
.todo-done {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    flex: 1 0 55px;
}

.todo-edit {
    background-color: #4CAF50;
    color: white;
}

.todo-done {
    background-color: #FF6347;
    color: white;
}

.todo-edit:hover {
    background-color: #45a049;
}

.todo-done:hover {
    background-color: #FF4500;
}

.todo-item-done {
    background-color: rgba(0, 0, 0, 0.9);
}

.todo-item-undo {
    opacity: 1;
}

.todo-item-remove {
    transition: opacity 2.5s ease-out;
    opacity: 0;
}

.btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 1040px) {
    .btn-container {
        position: static;
        right: auto;
        top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .btn-open-form {
        display: flex;
        bottom: auto;
        right: auto;
        margin: 0;
    }
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
